.tab-pane {
    padding: 20px;
}

#chainy-tx,
#chainy-data {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.has-error {
    border: 2px solid red;
}

.row {
    margin-bottom: 8px;
}

.form-errors {
    display: none;
}

.check-description {
    width:100%;
    height:150px;
}